
.titulo{
    text-transform: capitalize;
    inline-size: 20%;
    
    font-size: 28px;
    
}
.about{
    margin-left: 5%;
    font-size: xx-small;
    word-spacing: 60%;
    
}
.titus{
    font-size: 18px;
}
