
.titulo{
    text-transform: capitalize;
    inline-size: 20%;
    
    font-size: 28px;
    
}
.about{
    margin-left: 5%;
    font-size: xx-small;
    word-spacing: 60%;
    
}

.br{
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
}
.num{
    text-align: right;
}
